@import url("https://fonts.googleapis.com/css?family=Odibee+Sans|Rubik&display=swap");

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: rgba(255, 123, 0, 0.247);
  font-family: "Rubik", sans-serif;
}
header {
  position: fixed;
  background-color: #313131;
  width: 100%;
  border-bottom: 3px solid rgb(255, 123, 0);
}
ul {
  display: flex;
}
li {
  list-style: none;
  color: white;
  padding: 3px 10px;
  margin: auto auto;
}
li.entete-nav {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 3px 10px;
  transition: all 0.2s;
}

nav a.menu:hover {
  padding: 15px 10px;
  background-color: rgb(75, 75, 75);
  border-radius: 10px;
  transition: all 0.3s;
}
main {
  padding: 140px 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.index-left-col {
  width: 40%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 15px;
  box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.74);
  text-align: center;
}
.index-col a.index-button {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 3px solid rgb(255, 123, 0);
  border-radius: 10px;
  background-color: rgb(255, 123, 0);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
.index-col a.index-button:hover {
  background-color: white;
  color: rgb(255, 123, 0);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
.index-right-col {
  width: 30%;
  border-radius: 20px;
  background-color: white;
  padding: 0 15px 20px 15px;
  box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.74);
  display: flex;
  flex-direction: column;
}
.index-right-col .index-r-col-title h2 {
  font-size: 40px;
  margin-bottom: 0;
}
.under-title {
  width: 60px;
  display: inline-block;
  color: rgb(255, 123, 0);
  border: 2px rgb(255, 123, 0) solid;
}
.index-right-col .index-r-col-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.index-right-col .index-r-col-contain a.index-mail-button {
  text-decoration: none;
  color: black;
}
.index-right-col .index-r-col-contain a.index-mail-button:hover {
  text-decoration: underline;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313131;
  position: relative;
  color: azure;
  width: 100%;
  bottom: 0;
  border-top: 3px solid rgb(255, 123, 0);
  padding: 10px 0;
}
footer img {
  width: 20px;
  padding: 10px 5px 5px 5px;
  margin: 5px 0 0 0;
}
footer a.a-img {
  padding: 5px;
  transition: all 0.2s;
}
footer a.a-img:hover {
  padding: 20px 5px 0 5px;
  background-color: rgb(75, 75, 75);
  border-radius: 10px;
  transition: all 0.3s;
}
footer address {
  font-style: normal;
  font-family: "Rubik", sans-serif;
  font-size: 0.7em;
}
footer address span {
  position: relative;
  bottom: 11px;
  margin-left: 5px;
}
footer .panel-admin {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  margin: 10px auto 20px auto;
}
footer .panel-admin:hover {
  text-decoration: underline;
}
